grant {
  permission java.net.SocketPermission "*", "accept,connect,resolve"; // okhttp
  permission java.lang.RuntimePermission "getClassLoader"; // okhttp
  permission java.net.NetPermission "getProxySelector"; // okhttp
};