grant {
  // needed because of the hot reload functionality
  permission java.io.FilePermission "<<ALL FILES>>", "read,write,delete";
  permission java.net.SocketPermission "*", "accept,connect,resolve"; // okhttp
  permission java.lang.RuntimePermission "getClassLoader"; // okhttp
  permission java.net.NetPermission "getProxySelector"; // okhttp
  permission java.lang.RuntimePermission "accessDeclaredMembers"; // jackson
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks"; // jackson
  permission java.lang.RuntimePermission "*"; // tensorflow
  permission java.io.FilePermission "<<ALL FILES>>", "write";
};